# Somnia Shannon testnet
SOMNIA_RPC_URL=https://api.infra.testnet.somnia.network
PRIVATE_KEY=0x
FACTORY_ADDRESS=

# App (after deploy)
NEXT_PUBLIC_CHAIN_ID=50312
NEXT_PUBLIC_RPC_URL=https://api.infra.testnet.somnia.network
NEXT_PUBLIC_FACTORY_ADDRESS=
NEXT_PUBLIC_PLATFORM_ADDRESS=0x037Bb9C718F3f7fe5eCBDB0b600D607b52706776
